.custom-blog-card {
  margin: 30px 0;
  overflow: hidden;
  background-color: white;
}
.custom-blog-card .custom-img-container {
  position: relative;
}
.custom-blog-card .custom-img-container .custom-img {
  width: 100%;
  height: auto;
}
.custom-blog-card .custom-img-container .custom-date-box {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: white;
  color: black;
  text-align: center;
  width: 55px;
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.custom-blog-card .custom-img-container .custom-date-box .custom-date {
  font-size: 18px;
  font-weight: bold;
}
.custom-blog-card .custom-img-container .custom-date-box .custom-month {
  font-size: 12px;
  text-transform: uppercase;
  color: #5a5f61;
}
.custom-blog-card .custom-body {
  margin-bottom: 30px;
}
.custom-blog-card .custom-body .custom-title {
  font-size: 18px;
  font-weight: bold;
}
.custom-blog-card .custom-body .custom-title .custom-title-link {
  text-decoration: none;
  color: #446a73;
  transition: .3s;
}
.custom-blog-card .custom-body .custom-title .custom-title-link:hover {
  color: #c45d3c;
}
.custom-blog-card .custom-body .custom-meta {
  font-size: 12px;
  color: #6c757d;
  margin: 10px 0;
  font-weight: 500;
}
.custom-blog-card .custom-body .custom-meta .custom-meta-item {
  margin-right: 10px;
}
.custom-blog-card .custom-body .custom-meta .custom-meta-item .custom-meta-icon {
  margin-right: 5px;
}
.custom-blog-card .custom-body .custom-text {
  font-size: 14px;
  color: #555;
  line-height: 1.6;
  margin-bottom: 15px;
}
.custom-blog-card .custom-body .custom-btn {
  background-color: #c45d3c;
  color: white;
  border: none;
  padding: 10px 10px;
  text-transform: uppercase;
  font-size: 14px;
  transition: .5s;
  text-decoration: none;
  font-weight: 700;
  border-radius: 5px;
  display: inline-block;
  margin: 15px 0;
}
.custom-blog-card .custom-body .custom-btn:hover {
  background-color: #c83605;
}
.custom-divider {
  margin: 10px 0;
}
.custom-heading {
  font-size: 30px;
  line-height: 46px;
  font-weight: 500;
  color: #2e3233;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
.custom-paragraph {
  font-size: 16px;
  line-height: 27px;
  color: #5a5f61;
  text-align: center;
}
